<h2>Admin Tools</h2>

<h4>Change Account Information</h4>
<%= link_to "Change Account Information", edit_admin_registration_path %>

<h4>Add Shows To Watch Party</h4>
<%= link_to "Add Shows To Watch Party", edit_admin_registration_path %>
