<h2>Admin Tools</h2>

<h4>Account Options</h4>
<%= link_to "Change Account Information", edit_admin_registration_path %>

<h4>Shows Options</h4>
<%= link_to "Add Shows To Watch Party", '/admins/show/new' %>
<br><%= link_to "Update/Deactivate/Activate Shows In Watch Party", '/admins/shows' %>
